@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 240 100% 97%;
    --border: 240 10% 20%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: #0a0a0f;
    color: #f0f0ff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}